.todo-item {
  &__edit,
  &__delete {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s linear, opacity 0.3s linear;
  }

  &__checkbox {
    margin-top: 3px;

    .todo-item__checkbox__wrapper {
      background-color: transparent;
      transition: background-color 0.3s linear;

      &:hover {
        background-color: rgb(0 0 0 / 0.05);
      }
    }
    .checkmark {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0.3s linear, opacity 0.3s linear;
    }
  }

  &--completed {
    .todo-item__checkbox__wrapper {
      background-color: #06b6d4;
      border-color: transparent;
    }

    .checkmark {
      visibility: visible;
      opacity: 1;
    }

    .todo-item__description {
      @apply line-through;
      @apply text-opacity-50;
    }
  }

  &:hover {
    .todo-item__edit,
    .todo-item__delete {
      visibility: visible;
      opacity: 1;
    }
  }
}
